<%- contentFor('body') %>

    <div class="container">
        <h1>Login</h1>
        <form action="/cadastrar-aluno/login/auth" method="POST">
             <div class="form-group">
                 <label for="email">Email</label>
                 <input type="email" class="form-control" name="email" placeholder="Email" required>
             </div>
             <div class="form-group">
                 <label for="password">Senha</label>
                 <input type="password" class="form-control" name="password" placeholder="Password" required>
             </div>
             <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
</div>
